<app-header titulo="Registro Egresos"></app-header>

<ion-content>
    <ion-card> 
        <ion-card-header>
            <ion-card-subtitle>Porfavor ingrese sus egresos correctamente</ion-card-subtitle>
            <ion-card-title>Formulario de egresos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-icon name="layers-outline"></ion-icon>
                <ion-label position="floating">Descripción</ion-label>
                <ion-input type="text" name="descripcion" [(ngModel)]="datos_egreso.descripcion"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Precio</ion-label>
                <ion-input type="number" name="precio" [(ngModel)]="datos_egreso.precio"></ion-input>
            </ion-item>
        
            <ion-button (click)="enviarDatos()" expand="full">Registrar</ion-button>
            
        </ion-card-content>

    </ion-card>

</ion-content>

