<app-header titulo="Listar Usuario"></app-header>

<ion-content>
    <ion-card-content>
        <ion-card *ngFor="let dato_obtenido of datos_obtenidos">
            <ion-item>
                <ion-icon name="body-outline"></ion-icon>
                Nombre: {{dato_obtenido.nombre}}
            </ion-item>
            <ion-item>
                <ion-icon name="person-circle-outline"></ion-icon>
                Apellido: {{dato_obtenido.apellido}}
            </ion-item>
            <ion-item>
                <ion-icon name="finger-print-outline"></ion-icon>
                Rut: {{dato_obtenido.rut}}
            </ion-item>
            <ion-item>
                <ion-icon name="mail-unread-outline"></ion-icon>
                Correo: {{dato_obtenido.correo}}
            </ion-item>
            <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>
                Password: {{dato_obtenido.password}}
            </ion-item>
        </ion-card>

    </ion-card-content>   


</ion-content>
