<app-header titulo="Listar Usuario"></app-header>

<ion-content>
    <ion-card-content>
        <ion-card *ngFor="let dato_obtenido of datos_obtenidos">
            <ion-item>
                <ion-icon name="body-outline"></ion-icon>
                Nombre: {{dato_obtenido.campo1}}
            </ion-item>
            <ion-item>
                <ion-icon name="person-circle-outline"></ion-icon>
                Apellido: {{dato_obtenido.campo2}}
            </ion-item>
            <ion-item>
                <ion-icon name="finger-print-outline"></ion-icon>
                Rut: {{dato_obtenido.campo3}}
            </ion-item>
            <ion-item>
                <ion-icon name="mail-unread-outline"></ion-icon>
                Correo: {{dato_obtenido.campo4}}
            </ion-item>
            <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>
                Password: {{dato_obtenido.campo5}}
            </ion-item>
        </ion-card>

    </ion-card-content>   


</ion-content>
