<app-header titulo="Registro Usuario"></app-header>



<ion-content>
    <ion-card> 
        <ion-card-header>
            <ion-card-subtitle>Porfavor ingrese sus datos correctamente</ion-card-subtitle>
            <ion-card-title>Formulario de usuario</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" name="dato1" [(ngModel)]="datos_formulario.dato1"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input type="text" name="dato2" [(ngModel)]="datos_formulario.dato2"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Rut</ion-label>
                <ion-input type="text" name="dato3" [(ngModel)]="datos_formulario.dato3"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="text" name="dato4" [(ngModel)]="datos_formulario.dato4"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" name="dato5" [(ngModel)]="datos_formulario.dato5"></ion-input>
            </ion-item>

            <ion-button (click)="enviarDatos()" expand="full">Registrar</ion-button>
        </ion-card-content>

    </ion-card>

</ion-content>
