<app-header titulo="Registro Usuario"></app-header>


<ion-content>
    <ion-card> 
        <ion-card-header>
            <ion-card-subtitle>Porfavor ingrese sus datos correctamente</ion-card-subtitle>
            <ion-card-title>Formulario de usuario</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <ion-item>
                <ion-icon name="person-add-outline"></ion-icon>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" name="campo1" [(ngModel)]="datos_formulario.campo1"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input type="text" name="campo2" [(ngModel)]="datos_formulario.campo2"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Rut</ion-label>
                <ion-input type="text" name="campo3" [(ngModel)]="datos_formulario.campo3"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="text" name="campo4" [(ngModel)]="datos_formulario.campo4"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" name="campo5" [(ngModel)]="datos_formulario.campo5"></ion-input>
            </ion-item>

            <ion-button (click)="enviarDatos()" expand="full">Registrar</ion-button>
        </ion-card-content>

    </ion-card>

</ion-content>
