<app-header titulo="Listar Egresos"></app-header>

<ion-content>
    <ion-card-content>
        <ion-card *ngFor="let dato_obtenido of datos_obtenidos">
            <ion-item>
                <ion-icon name="book-outline"></ion-icon>
                Descripción: {{dato_obtenido.campo1}}
            </ion-item>
            <ion-item>
                <ion-icon name="diamond-outline"></ion-icon>
                Precio: {{dato_obtenido.campo2}}
            </ion-item>
        </ion-card>

    </ion-card-content>   


</ion-content>
