<app-header titulo="Listar Egresos"></app-header>

<ion-content>
    <ion-card-content>
        <ion-card *ngFor="let egreso_obtenido of egresos_obtenidos">
            <ion-item>
                <ion-icon name="book-outline"></ion-icon>
                Descripción: {{egreso_obtenido.descripcion}}
            </ion-item>
            <ion-item>
                <ion-icon name="diamond-outline"></ion-icon>
                Precio: {{egreso_obtenido.precio}}
            </ion-item>
        </ion-card>

    </ion-card-content>   


</ion-content>
